.change-week {
    display: inline-block;
    text-align: center;
    width: auto;
}

.change-week__container {
    margin: 24px 0 16px 16em;
    display: flex;
    align-items: center;
}

.change-week__button {
    transition: fill 1s;
    height: 36px;
}

.change-week__button:hover {
    fill:  #4adb2a;
    transition: fill 0.25s;
}

.change-week__button:active {
    fill:  #FF0000;
    transition: fill 0.25s;
}

.change-week__week {
    width: 6em;
    font-weight: bold;
    font-size: 24px;
    font-family: sans-serif;
}

.change-week__button--back {
    transform: rotate(180deg);
}
